swagger: '2.0'
info:
    title: ShopDB API
    description: This is the API for shopdb2
    version: v2
host: "shop.gatrobe.de"
basePath: "/api"
schemes:
- https
tags:
- name: "rank"
  description: "Access available ranks"
paths:
    /backups:
        get:
          tags:
          - "backup"
          summary: "Returns a dict holding all backups and the timestamp of the latest one."
          produces:
          - "application/json"
          responses:
            200:
              description: "successful operation"
              schema:
                type: "object"
                properties:
                  backups:
                    type: "array"
                    items:
                      type: "string"
                      example: "2019/02/07/shop-db_2019-02-07_15-00.dump"
                  latest:
                    type: "string"
                    format: "date-time"
    /deposits:
        get:
          tags:
          - "deposit"
          summary: "Returns a list of all deposits."
          produces:
          - "application/json"
          responses:
            200:
              description: "successful operation"
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/Deposit"
        post:
    /deposits/batch:
        post:
    /deposits/{user-id}:
        get:
        put:
    /financial_overview:
        get:
    /images:
        get:
    /images/{image-name}:
    /login:
        post:
    /maintenance:
        post:
    /payoffs:
        get:
        post:
    /payoffs/{payoff-id}:
        get:
        put:
    /products:
        get:
        post:
    /products/{product-id}:
        get:
        put:
    /products/{product-id}/pricehistory:
        get:
    /purchases:
        get:
        post:
    /purchases/{purchase-id}:
        get:
        put:
    /ranks:
        get:
          tags:
          - "rank"
          summary: "Returns a list of all ranks."
          produces:
          - "application/json"
          responses:
            200:
              description: "successful operation"
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/Rank"
    /refunds:
        get:
        post:
    /refunds/{refund-id}:
        get:
        put:
    /register:
        post:
    /replenishmentcollections:
        get:
        post:
    /replenishmentcollections/{replenishmentcollections-id}:
        get:
        post:
    /replenishments/{replenishment-id}:
        put:
    /stocktakingcollections:
        get:
        post:
    /stocktakingcollections/{stocktakingcollections-id}:
        get:
        put:
    /stocktakings/{stocktaking-id}:
        put:
    /tagassignment/{command}:
        post:
    /tags:
        get:
          tags:
          - "tag"
          summary: "List all tags"
          description: "Every product has one or more of these."
          operationId: "listTags"
          produces:
          - "application/json"
          parameters:
          - name: "id"
            in: "path"
            description: "The id"
            required: true
            type: "integer"
            format: "int64"
          responses:
            200:
              description: "successful operation"
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/Tag"
            401:
              description: "error state"
        post:
    /tags/{tag-id}:
        delete:
        get:
        put:
    /turnovers:
        get:
        put:
    /turnovers/{turnover-id}:
        get:
        put:
    /upload:
        post:
    /users:
        get:
    /users/{user-id}:
        delete:
          tags:
          - "user"
          summary: "Delete user"
          description: "This can only be done by an admin."
          operationId: "deleteUser"
          produces:
          - "application/json"
          parameters:
          - name: "id"
            in: "path"
            description: "The id"
            required: true
            type: "integer"
            format: "int64"
          responses:
            401:
              description: "error state"
              schema:
                $ref: "#/definitions/DeleteUserError"
        get:
          tags:
          - "user"
          summary: "Returns a user"
          produces:
          - "application/json"
          responses:
            200:
              description: "successful operation"
              schema:
                $ref: "#/definitions/User"
            401:
              description: "error state"
        put:
    /users/{user-id}/deposits:
        get:
    /users/{user-id}/favourites:
        get:
    /users/{user-id}/purchases:
        get:
    /users/{user-id}/refunds:
        get:
    /verifications:
        get:
          tags:
          - "verification"
          summary: "Returns a list of all verifications."
          produces:
          - "application/json"
          responses:
            200:
              description: "successful operation"
              schema:
                type: "array"
                items:
                  $ref: "#/definitions/Verification"
    /verify/{verification-id}:
definitions:
  Deposit:
      type: object
      required:
          - id
      properties:
        admin_id:
          type: "integer"
          format: "int64"
        amount:
          type: "integer"
          format: "int64"
        comment:
          type: "string"
        id:
          type: "integer"
          format: "int64"
        revoked:
          type: "boolean"
        timestamp:
          type: "string"
          format: "date-time"
        user_id:
            type: "integer"
            format: "int64"
  Product:
      type: object
      required:
          - active
          - barcode
          - countable
          - creation_date
          - id
          - imagename
          - name
          - price
          - revocable
          - tags
      properties:
        active:
            type: "boolean"
        barcode:
            type: "string"
            example: "4004870070190"
            nullable: true
        countable:
            type: "boolean"
        creation_date:
            type: "string"
            format: "date-time"
        id:
            type: "integer"
            format: "int64"
        imagename:
            type: "string"
            nullable: true
            example: "db2d6309800a5af05f9814bea1f5cea0.png"
        name:
            type: "string"
        price:
            type: "integer"
            format: "int64"
        revocable:
            type: "boolean"
        tags:
            type: array
            items:
              type: "integer"
              format: "int64"
  Rank:
      type: object
      required:
          - id
          - name
          - active
          - debt_limit
      properties:
          id:
              type: "integer"
              format: "int64"
          name:
              type: "string"
          active:
              type: "boolean"
          debt_limit:
              type: "integer"
              format: "int64"
  StocktakingCollection:
      type: object
      required:
          - id
  Tag:
      type: object
      required:
          - id
      properties:
          created_by:
              type: "integer"
              format: "int64"
          id:
              type: "integer"
              format: "int64"
          name:
              type: string
              example: "snacks"
  Turnover:
      type: object
      required:
          - id
  UserError:
      type: object
      required:
        - message
        - result
      properties:
        message:
          type: string
          example: "This user has not been verified yet."
        result:
          type: string
          enum: 
          - "error"
  DeleteUserError:
      type: object
      required:
        - message
        - result
      properties:
        message:
          type: string
          example: "There is no entry with this id."
        result:
          type: string
          enum: 
          - "error"
  User:
      type: object
      required:
        - id
        - firstname
        - lastname
        - credit
        - rank_id
        - is_admin
        - creation_date
        - verification_date
      properties:
        id:
          type: "integer"
          format: "int64"
        firstname:
          type: "string"
          example: "Paul Thomas"
        lastname:
          type: "string"
          example: "Mann"
        credit:
          type: "integer"
          description: "Users credit in cents"
          format: "int64"
        rank_id:
          type: "integer"
          format: "int64"
        is_admin:
          type: "boolean"
        creation_date:
          type: "string"
          format: "date-time"
        verification_date:
          type: "string"
          format: "date-time"
  Verification:
      type: object
      required:
          - id
      properties:
        id:
          type: "integer"
          format: "int64"
        firstname:
          type: "string"
          example: "Paul Thomas"
        lastname:
          type: "string"
          example: "Mann"
